.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  height: 91vh;
}

.login {
  height: 60vh;
  width: 50vh;
  align-items: center;
}

.loginTxt {
  margin-top: 6vh;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
}

.label {
  margin-bottom: 1vh;
  margin-left: 10vh;
}

.input {
  text-align: center;
  margin-bottom: 2vh;
}
.btn {
  text-align: center;
}

.routTxt {
  text-align: center;
}

.NeedTxt {
  font-variant: small-caps;
}

.clickTxt {
  color: green;
  font-weight: bold;
  cursor: pointer;
}
