.bookParking {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  height: 90.4vh;
}

.parkingCard {
  width: 90%;
  height: 80%;
}

body{
  height: 100%;
}

.parkingHeading {
  margin-left: 15px;
  font-weight: bold;
  font-size: 5vh;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 10px;
  width: 95%;
}

.main {
  margin-left: 14px;
  margin-top: 20px;
}

.para {
  display: flex;
  margin-left: 12px;
  margin: 0;
}

.iconContainer {
  position: absolute;
  top: 37%;
  left: 85%;
  right: 0;
  bottom: 0;
}

.content {
  width: 7vh;
  height: 7vh;
  border-radius: 4vh;
  background-color: #c2185b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.myIcon {
  color: #f1f1f1;
  font-size: 30px;
}

.paraChild {
  margin-left: 6px;
  margin-top: 0;
  margin-bottom: 0;
}

.paraParent {
  font-weight: bold;
  margin: 0;
}
